body {
    padding-top: 50px;
}


#footer-container {
    margin-top: 20px;
}

#form-divider {
    width: 20px;
    display: inline-block;
}

input#numberOfContainerPoints,
input#nextPointFraction {
    text-align: center;
    width: 4em;
}

#myCanvas {
    background-color: white;
    border:1px solid #000000;
    border-radius: 12px;
    border-color: darkgray;
    box-shadow: 5px 10px 10px #ddd;
}